body{
	background-color: #070715;
	@font-face {
			font-family: "Riesling";
			src: url("Riesling/riesling.ttf") format('truetype');
			
	}
	


	
}

body,h2,h3,h4,h5,h6{
	font-family: "Riesling";
	color: #334269;

}



.socialButtons a img:hover{
	height: 105%;
	width: 105%;
	background-color: white;
	border-radius: 47px;
	padding: 0;
	-webkit-filter: contrast(1);
	filter: contrast(1);
	
}

.socialButtons a img:active{
	height: 105%;
	width: 105%;
	background-color: white;
	border-radius: 47px;
	padding: 0;
	-webkit-filter: contrast(1);
	filter: contrast(1);
	
}



/*simple reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
        -box-sizing: border-box;
}

h2{
 text-align: center;
 margin-top: 92px;
 z-index: 999999;
 position: relative;
 font-size: 45px;
 font-family: courier new;
 color: white;
}
h2 a{
 color: #fff;
}
.star {
 
	position: absolute;
	top: 70%;
	left: 70%;
	width: 5px;
	height: 5px;
	background: #F6F6F6;
	overflow: hidden;
	border-radius: 10px;
	z-index: 1;
	
	animation: glitter 1.5s linear 0s infinite normal;
	-webkit-animation: glitter 1.5s linear 0s infinite normal;
	-moz-animation: glitter 1.5s linear 0s infinite normal;
	-ms-animation: glitter 1.5s linear 0s infinite normal;
	-o-animation: glitter 1.5s linear 0s infinite normal;
}




.star-top,.star-bottom{
	position: relative;

}
.star-top:before , 
.star-top:after ,
.star-bottom:before ,
.star-bottom:after{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 10px;
	position: absolute;
}

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
 0%   { -webkit-transform: scale(1.0); opacity: 1; }
 25%  { -webkit-transform: scale(0.5); opacity: 0; }
 50%  { -webkit-transform: scale(1.0); opacity: 1; }
 75%  { -webkit-transform: scale(0.5); opacity: 0; }
 100% { -webkit-transform: scale(1.0); opacity: 1; }
}
@-moz-keyframes glitter {
 0%   { -moz-transform: scale(1.0); opacity: 1; }
 25%  { -moz-transform: scale(0.5); opacity: 0; }
 50%  { -moz-transform: scale(1.0); opacity: 1; }
 75%  { -moz-transform: scale(0.5); opacity: 0; }
 100% { -moz-transform: scale(1.0); opacity: 1; }
}