body{
	background-color: #070715;
}

body,h1,h2,h3,h4,h5,h6{


}

/*simple reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
        -box-sizing: border-box;
}

h2{
 text-align: center;
 margin-top: 92px;
 z-index: 999999;
 position: relative;
 font-size: 45px;
 font-family: courier new;
 color: white;
}
h2 a{
 color: #fff;
}
.star {
 /*display: block;*/
	position: absolute;
	top: 70%;
	left: 70%;
	width: 5px;
	height: 5px;
	background: #F6F6F6;
	overflow: hidden;
	border-radius: 10px;
	z-index: 2;
	
	animation: glitter 1.5s linear 0s infinite normal;
	-webkit-animation: glitter 1.5s linear 0s infinite normal;
	-moz-animation: glitter 1.5s linear 0s infinite normal;
	-ms-animation: glitter 1.5s linear 0s infinite normal;
	-o-animation: glitter 1.5s linear 0s infinite normal;
}




.star-top,.star-bottom{
	position: relative;
	/*display: block;*/
}
.star-top:before , 
.star-top:after ,
.star-bottom:before ,
.star-bottom:after{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 1px;
	position: absolute;
	}

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
 0%   { -webkit-transform: scale(1.0); opacity: 1; }
 25%  { -webkit-transform: scale(0.5); opacity: 0; }
 50%  { -webkit-transform: scale(1.0); opacity: 1; }
 75%  { -webkit-transform: scale(0.5); opacity: 0; }
 100% { -webkit-transform: scale(1.0); opacity: 1; }
}
@-moz-keyframes glitter {
 0%   { -moz-transform: scale(1.0); opacity: 1; }
 25%  { -moz-transform: scale(0.5); opacity: 0; }
 50%  { -moz-transform: scale(1.0); opacity: 1; }
 75%  { -moz-transform: scale(0.5); opacity: 0; }
 100% { -moz-transform: scale(1.0); opacity: 1; }
}